.page-header
  .row
    .col-lg-8
      %input#resume-name.editable-field.full-width{type: 'text', ng: {model: 'resume.name', blur: 'update()'}}
    .col-lg-4
      .block.block-sm.pull-right
        %span{tooltip: 'Add New Section'}
          %button.btn.btn-success{ng: {click: 'actions.add_section = !actions.add_section; actions.sort_sections = false'}}
            %i.fa.fa-file-text
        %span{tooltip: 'Reorder Sections'}
          %button.btn.btn-primary{ng: {click: 'actions.sort_sections = !actions.sort_sections'}}
            %i.fa.fa-exchange
        %span{tooltip: 'View Resume'}
          %a.btn.btn-info{ng: {href: '{{ resume.live_url }}'}}
            %i.fa.fa-external-link

.row
  %section.col-lg-8
    %section.block{ng: {if: 'actions.add_section'}}
      %form{ng: {controller: 'NewSectionController', submit: 'create()', include: '"/assets/app/templates/sections/new.html"'}}

    %section{ng: {if: 'resume.sections.length', model: 'resume.sections'}, ui: {sortable: 'sortableOptions'}}
      %section.block{ng: {class: '{"sortable-active": $parent.actions.sort_sections}', repeat: 'section in resume.sections', controller: 'SectionController'}}
        .lead
          %input.editable-field.full-width{type: 'text', ng: {model: 'section.title', blur: 'update()'}}

        .well.well-sm.details{ng: {if: 'section.fields.length'}}
          %section.clearfix{ng: {repeat: 'field in section.fields', controller: 'FieldController'}}
            %input.editable-field{ng: {model: 'field.name', blur: 'update()'}, placeholder: 'Name'}
            %input.editable-field{ng: {model: 'field.value', blur: 'update()'}, placeholder: 'Value'}
            %i.fa.fa-trash-o.pull-right.text-danger.clickable{ng: {click: 'delete()'}, tooltip: 'remove'}

        %form.field-form.well.well-sm{ng: {controller: 'NewFieldController', submit: 'create()', include: '"/assets/app/templates/fields/new.html"', if: 'actions.add_field && !actions.add_section'}}

        %form.field-form.well.well-sm{ng: {controller: 'NewSectionController', submit: 'create()', include: '"/assets/app/templates/sections/new.html"', if: 'actions.add_section && !actions.add_field'}}        

        %footer.actions{ng: {if: '!actions.add_section && !actions.add_field'}}
          %button.btn.btn-danger.btn-xs{ng: {click: 'delete()'}}
            %i.fa.fa-trash-o
            Remove Section
          %button.btn.btn-primary.btn-xs{ng: {click: 'actions.add_section = !actions.add_section'}}
            %i.fa.fa-plus
            Add Subsection
          %button.btn.btn-info.btn-xs{ng: {click: 'actions.add_field = !actions.add_field'}}
            %i.fa.fa-plus
            Add Fields

  %aside.col-lg-4
    %form{class: 'resume-block'}
      .form-group
        %label.control-label.sr-only Description
        %textarea.form-control{type: 'text', rows: 4, placeholder: 'Describe your resume', ng: {model: 'resume.description', blur: 'update()'}}