%h1.page-header
  .row
    .col-lg-8{contenteditable: true} {{ resume.name }}
    .col-lg-4.text-right
      %a.btn.btn-info{ng: {href: '/resumes'}}
        %i.fa.fa-reply
        Back to Resumes

.row
  .col-lg-8
    .block
      %section.well.well-sm{ng: {if: 'resume.sections.length', repeat: 'section in resume.sections'}}
        .clearfix
          .lead.pull-left{contenteditable: true} {{ section.title }}
          %i.fa.fa-trash-o.pull-right{ng: {click: 'deleteSection(section)'}}
      .well.well-dashed
        %form{ng: {submit: 'createSection()', show: 'showSectionForm'}}
          .form-group
            %label.control-label.sr-only Title
            %input.form-control{type: 'text', placeholder: 'Title', required: true, autofocus: true, ng: {model: 'section_title'}}

          .form-group
            %button.btn.btn-success.btn-sm
              %i.fa.fa-check
              Add
            or
            %a{ng: {click: 'showSectionForm = false'}} cancel
        %button.btn.btn-primary.btn-xs{ng: {show: '!showSectionForm', click: 'showSectionForm = !showSectionForm'}}
          %i.fa.fa-plus
          Add Section
  .col-lg-4
    %form{ng: {submit: 'update()'}, class: 'resume-block'}
      .form-group
        %label.control-label.sr-only Description
        %textarea.form-control{type: 'text', rows: 4, placeholder: 'Describe your resume', ng: {model: 'resume.description'}}