.page-header
  .row
    .col-lg-8
      %input#resume-name.editable-field.full-width{type: 'text', ng: {model: 'resume.name', blur: 'update()'}}
    .col-lg-4
      .block.block-sm.pull-right
        %span{tooltip: 'Add New Section'}
          %button.btn.btn-success{ng: {click: 'showNewSectionForm()'}}
            %i.fa.fa-file-text
        %span{tooltip: 'Reorder Sections'}
          %button.btn.btn-primary{ng: {click: 'toggleSorting()'}}
            %i.fa.fa-exchange
        %span{tooltip: 'View Resume'}
          %a.btn.btn-info{ng: {href: '{{ resume.live_url }}'}}
            %i.fa.fa-external-link

.row
  %section.col-lg-8
    %section.block{ng: {if: 'actions.add_section'}}
      %form{ng: {controller: 'NewSectionController', submit: 'create()', include: "'#{asset_path('app/templates/sections/new.html')}'"}}

    %section{ng: {if: 'resume.sections.length', model: 'resume.sections'}, ui: {sortable: 'sortableOptions'}}
      %section.resume-section.block{ng: {class: '{"sortable-active": actions.sort_sections}', repeat: 'section in resume.sections', controller: 'SectionController', include: "'#{asset_path('app/templates/sections/edit.html')}'"}}

  %aside.col-lg-4
    %form{class: 'resume-block'}
      .form-group
        %label.control-label.sr-only Description
        %textarea.form-control{type: 'text', rows: 4, placeholder: 'Describe your resume', ng: {model: 'resume.description', blur: 'update()'}}