%h1.page-header
  .row
    .col-lg-8
      %input#resume-name.editable-field{type: 'text', ng: {model: 'resume.name', blur: 'update()'}}
    .col-lg-4.text-right
      %a.btn.btn-info{ng: {href: '{{ resume.live_url }}'}}
        %i.fa.fa-external-link
        View Resume

.row
  %section.col-lg-8
    .block
      %button.btn.btn-success{ng: {show: '!sections.add', click: 'sections.add = !sections.add; sections.sort = false'}}
        %i.fa.fa-file-text
        Add Section
      %button.btn.btn-primary{ng: {show: '!sections.add', click: 'sections.sort = !sections.sort'}}
        %i.fa.fa-refresh
        %span{ng: {switch: 'sections.sort'}}
          %span{ng: {switch_when: 'true'}} Finish Ordering
          %span{ng: {switch_default: ''}} Reorder Sections

      %form{ng: {controller: 'NewSectionController', submit: 'create()', show: 'sections.add'}}
        .form-group
          %label.control-label.sr-only Title
          %input.form-control{type: 'text', placeholder: 'Title', required: true, autofocus: true, ng: {model: 'title'}}

        .form-group
          %button.btn.btn-success.btn-sm
            %i.fa.fa-check
            Add
          or
          %a{ng: {click: 'sections.add = false'}} cancel

    %section{ng: {if: 'resume.sections.length', model: 'resume.sections'}, ui: {sortable: 'sortableOptions'}}
      %section.block{ng: {class: '{"sortable-active": sections.sort}', repeat: 'section in resume.sections', controller: 'SectionController', init: 'ngInit(resume, section)'}}
        .lead
          %input.editable-field{type: 'text', ng: {model: 'section.title', blur: 'update()'}}

        .well.well-sm.details{ng: {if: 'section.fields.length'}}
          %section.clearfix{ng: {repeat: 'field in section.fields'}}
            %b{ng: {if: 'field.name'}} {{ field.name }}
            {{ field.value }}
            %i.fa.fa-trash-o.pull-right{ng: {click: 'removeField(field)'}}

        %form.field-form{ng: {submit: 'createField()', show: 'showFieldForm'}}
          .form-group
            %label.control-label.sr-only Name
            %input.form-control{type: 'text', placeholder: 'Name', ng: {model: 'name'}}

          .form-group
            %label.control-label.sr-only Value
            %textarea.form-control{placeholder: 'Value', ng: {model: 'value'}}

          .form-group
            %button.btn.btn-success.btn-xs
              %i.fa.fa-check
              Add
            or
            %a{ng: {click: 'showFieldForm = false'}} cancel

        %footer.actions{ng: {hide: 'showFieldForm'}}
          %button.btn.btn-danger.btn-xs{ng: {click: 'delete(section)'}}
            %i.fa.fa-trash-o
            Remove Section
          %button.btn.btn-info.btn-xs{ng: {click: 'showFieldForm = !showFieldForm'}}
            %i.fa.fa-plus
            Add Fields

  %aside.col-lg-4
    %form{class: 'resume-block'}
      .form-group
        %label.control-label.sr-only Description
        %textarea.form-control{type: 'text', rows: 4, placeholder: 'Describe your resume', ng: {model: 'resume.description', blur: 'update()'}}