%h1.page-header.clearfix
  %span.pull-left Your Resumes
  .pull-right
    %button.btn.btn-success{ng: {click: 'createNew()'}}
      %i.fa.fa-file
      New Resume
    %a.btn.btn-primary{ng: {href: '/linkedin/auth/callback'}, target: '_self'}
      %i.fa.fa-linkedin
      Import From LinkedIn

%section.row
  .col-lg-4{ng: {repeat: 'resume in resumes', controller: 'ResumeController'}}
    .resume-block
      .title-wrapper
        %a.title{ng: {href: '{{ resume.url }}'}, target: '_self'} {{ resume.name }}

      .description{ng: {switch: 'resume.description || null'}}
        %p{ng: {switch_when: 'null'}} No description found
        %p{ng: {switch_default: 'null'}} {{ resume.description | characters:60 }}

      %button.btn.btn-danger.btn-xs{ng: {click: 'delete()'}}
        %i.fa.fa-trash-o
        Delete

      %a.btn.btn-info.btn-xs{ng: {href: '{{ resume.url }}'}}
        %i.fa.fa-pencil
        Edit

.ng-cloak
  .alert.alert-warning{ng: {if: 'resumes.length === 0'}}
    You don't have any resume yet.
