%h1.page-header.clearfix
  %span.pull-left Resumes
  %button.btn.btn-success.pull-right{ng: {click: 'createNew()'}}
    %i.fa.fa-file
    New Resume

.row
  .col-lg-4{ng: {repeat: 'resume in resumes'}}
    .resume-block
      .title-wrapper
        %span.settings
          %i.fa.fa-gear
        %a.title{ng: {href: '/resumes/{{ resume.id }}/edit'}, target: '_self'} {{ resume.name }}
      .description {{ resume.description || 'No description found' }}

.ng-cloak
  .alert.alert-warning{ng: {if: 'resumes.length === 0'}}
    You don't have any resume yet.
