%footer#app-footer
  .container.text-center
    Resume Builder is powered by
    = link_to 'AngularJS', 'http://angularjs.org', target: '_blank'
    ,
    = link_to 'Ruby on Rails', 'http://rubyonrails.org', target: '_blank'
    ,
    and is
    = link_to 'open sourced on Github.', 'https://github.com/trivektor/NG-Resume-Builder', target: '_blank'
    Happy forking :)