.form-group.clearfix
  %strong.pull-left New Field
  %b.pull-right{ng: {click: 'actions.add_field = false'}}
    %i.fa.fa-times

.form-group
  .row
    .col-lg-5
      %label.control-label.sr-only Name
      %input.form-control{type: 'text', placeholder: 'Name', ng: {model: 'name'}, autofocus: true}

    .col-lg-5
      %label.control-label.sr-only Value
      %input.form-control{placeholder: 'Value', ng: {model: 'value'}}

    .col-lg-2
      %button.btn.btn-success.btn-xs
        %i.fa.fa-check
        Add
  